Checks: >
  *,
  bugprone-*,
  cert*,
  misc-*,
  performance-*,
  misc-include-cleaner-*,
  bugprone-unused-return-value',
  google-*,
  readability-*,
  modernize-*,
  portability-*,
  -cppcoreguidelines*,
  -readability-identifier-length,
  -hicpp*,
  -readability-uppercase-literal-suffix,
  -llvmlibc-restrict-system-libc-headers,
  -android*,
  -llvm*,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -altera*,
  -readability-function-cognitive-complexity,
  -google-readability-todo
